<!DOCTYPE html>
<html>
<head>
  <title>My childhood game</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
Hey, let's make your own kingdom.
<br/>
I need a farmer.
<br/>
<% data.forEach(function(farmer) { %>
I'm a farmer with level <%= farmer.Level %>
<% }) %>
<div class="wrapper">
  <div class="desc">
    <h1>My childhood kingdom</h1>
  </div>
</div>
</body>

</html>
