.wrapper {
  max-width: 68rem;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #f5f5f5;
}

.desc {
  margin: 2rem auto;
  font-size: 1.2rem;
}

.todo {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 4px;
  color: #777;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9rem;
}

.todo ul {
  margin: 0.4rem 0;
  padding: 0 1rem;
}

.product-grid {
  width: 100%;
  margin: 2rem auto;
}

.product-grid__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-grid__product-wrapper {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 220px;
}

.product-grid__product {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
}

.product-grid__product:hover .product-grid__extend {
  display: block;
}

.product-grid__img-wrapper {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  height: 150px;
}

.product-grid__img {
  max-width: 100%;
  max-height: 100%;
}

.product-grid__title {
  margin-top: 0.875rem;
  display: block;
  font-size: 1.125rem;
  color: #222;
}

.product-grid__level {
  color: #e91e63;
  font-weight: bold;
}

.product-grid__extend {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0 1rem 1rem;
  border: 1px solid #eee;
  border-top: 0;
  background: #fff;
  z-index: 1;
}

.assets-grid__description {
  font-size: 0.875rem;
}

.product-grid__btn {
  display: inline-block;
  font-size: 0.875rem;
  color: #777;
  background: #eee;
  padding: 0.5rem 0.625rem;
  margin-top: 0.875rem;
  margin-right: 0.625rem;
}

.error {
  color: #b00020;
}
